

#draw {
    border:3px ;
    border-color : blue;
    border-style : dotted;
    text-align:center;
    /* padding : 100px; */
    
    /* padding : 100px; */
    /* width : 800px ;
    height :800px; */
}